@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
  font-size: small;
}
